body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2562C2;
}

header {
  background: url('img/header-banner.png') center center/cover no-repeat;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(210, 234, 254);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2, h3 {
  color: #333;
}

h1 {
  color: #fbfbfb;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color:#4AB5F0;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 4px;
}

.profile-image {
    width: 100px;
    border-radius: 50%; 
}

.timeline {
  position: relative;
  margin-top: 30px;
  list-style: none;
  padding: 0;
  overflow: hidden; 
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #2562C2;
  z-index: 0;
}

.timeline li {
  position: relative;
  margin-bottom: 60px;
  width: 45%;
  float: left;
  box-sizing: border-box;
  transition: transform 0.5s ease;
}

.timeline li:nth-child(even) {
  float: right;
}

.timeline li::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 20px;
  width: 2px;
  height: calc(100% - 40px);
  background-color:#2562C2;
  z-index: 1;
}

.timeline li::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3498db;
  z-index: 2;
}

.timeline li .content {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.timeline li:nth-child(odd) .content {
  margin-left: 20px;
}

.animate-in {
  opacity: 0;
  transform: translateY(30px);
}

.animate-in.show {
  opacity: 1;
  transform: translateY(0);
}

Footer {
  background-color: #0A0C233;
  color: white;
  text-align: center;
  padding: 1em 0;
}
